* {
    padding: 0;
    margin: 0;
}
html {
    background-color: #f8f8f8;
}

.container {
    width: 90%;
    margin: 0 auto;
}

div,
footer,
header,
article {
    background-color: white;
}

.orange-border {
    border-top: 5px solid orange;
    margin-top: 30px;
    padding: 15px;
}

/****** HEADER ******/
header {
    display: flex;
    flex-direction: row;
}

.nav-btn > ul {
    display: inline-flex;
    flex-direction: row;
}

/*** Section and aside **/
section {
    float: left;
    width: 55%;
    margin-right: 30px;
}

aside {
    float: right;
    width: 40%;
}


/* SECTION */
section img {
    width: 100%;
}

/* MAIN FOOTER */
.main-footer {
    clear: both;
    display: inline-flex;
}

.main-footer div {
    width: 33%;
}

